.Card {
    margin-bottom: 2rem;

    img {
        width: 100px;
        margin: 0 auto 2rem;
        display: block;
    }

    p {
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: 300;
        text-align: center;
    }
}