.Section {
    padding: 5rem 0;

    h2 {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 5rem;
    }

    &__Action {
        text-align: center;

        > a {
            > i {
                margin-right: .5rem;
            }
        }
    }

    &--Alt {
        background-color: $color-primary;
        color: #333;

        h2 {
            color: inherit;
        }
    }
}