.Sidebar {
    margin-bottom: 5rem;

    @media (min-width: 768px) {
        width: 300px;
        border-right: 1px solid rgba(black, .1);
        margin-bottom: 0;
    }

    &__Container {
        position: sticky;
        top: 1rem;
    }

    h3 {
        font-size: .9rem;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(black, .75);
    }

    ul {
        list-style: none;
        margin: 0 auto;
        padding: 0 1rem 0 0;

        & + h3 {
            margin-top: 2rem;
        }

        li {
            a {
                display: block;
                font-size: .85rem;
                color: rgba(black, .6);
                padding: 5px 10px;
                border-left: 5px solid transparent;
                text-decoration: none;

                &:hover {
                    background-color: lighten($color-primary, 35%);
                    border-left-color: $color-primary;
                    text-decoration: none;
                }
            }
        }
    }
}